@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header
{
	background: rgba(66, 165, 245, 0.7);
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	line-height: 70px;
	max-height: 70px;
	padding: 0 20px;
	z-index: 10000;
}

header .logo
{
	margin-top: 15px;
	height: 40px;
}

header .navegation .menu
{
	margin: 0;
	display: flex;
}

header .navegation .menu li
{
	list-style: none;
}

header .navegation .menu li a
{
	color: #FFF;
	font-weight: 500;
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	font-size: 18px;
}

.page
{
	align-items: center;
	background: pink;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: calc(100vh - 50px);
	position: relative;
	width: 100%;
	z-index: 1000;
}

.footer 
{
	height: 50px;
}

footer
{
	background: #42A5F5;
	color: white;
	line-height: 50px;
	max-height: 50px;
	padding: 0 20px;
}


container
{
	justify-content: center;
}

.container .advice h1
{
	color: #FFF;
	font-weight: 200;
}

.page .card
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 2px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(2555, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}


@media only screen and (max-width: 875px)
{
	header
	{
		position: fixed;
		padding-left: 0;
		height: 75px;
	}

	header .logo
	{
		position: fixed;
		left: 40px;
	}

	header .navegation
	{
		display: none;
	}

	header .navegation.active
	{
		background: rgb(66, 165, 245);
		display: flex;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	header .navegation .menu
	{
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	header .navegation .menu li a
	{
		font-size: 25px;
	}

	.page
	{
		padding-top: 70px;
	}

	.toggle
	{
		background: url(menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40px;
		cursor: pointer;
		height: 40px;
		position: fixed;
		right: 40px;
		top: 15px;
		width: 40px;
		z-index: 10000;
	}

	.toggle.active
	{
		background: url(close.png);
		background-size: 40px;
		background-repeat: no-repeat;
		background-position: center;
	}
}
